<div class="container">
  <div class="page-header">
    <h1>%domain% Pirl Pool</h1>
  </div>
  <p class="lead">Do you have questions? Join us on <a href="https://discord.gg/Rdrz7Mm">Discord</a>!

    <br/><h2>Low Difficulty:</h2><code>stratum+tcp://%subdomain%:%lowdiff%</code>
    <br/><h2>High Difficulty (Nicehash):</h2><code>stratum+tcp://%subdomain%:%highdiff%</code>
  </p>
  <dl class="dl-horizontal">
    <dt>Get A Wallet:</dt>
    <dd>Grab a wallet from <a href="https://pirl.io/">Pirl.io</a> or get one from their <a href="https://wallet.pirl.io/">Web Wallet!</a></dd>
  </dl>
  <p>
    <strong>Full example:</strong><br>
    <code>EthDcrMiner64.exe -epool stratum+tcp://%subdomain%:%lowdiff% -ewal YOURWALLETADDRESS -epsw x -ethi 8 -allpools 1 -esm 0 -allcoins 1 -eworker WORKER</code><br/>
<br>    
<span class="label label-info">Hint:</span> You should make a .bat file to start your miner. You can do this by creating a text file in your miner folder and copy/pasting the
appropriate command line into that text file. Then, change the file type from .txt to .bat!
  </p>
<br>
  <p class="lead">Mining with Claymore (Best)</p>
  <p><a href="https://github.com/nanopool/Claymore-Dual-Miner/releases">Download Claymore</a>
<br><br>
Usage:
<br><br>
setx GPU_FORCE_64BIT_PTR 0<br>
setx GPU_MAX_HEAP_SIZE 100<br>
setx GPU_USE_SYNC_OBJECTS 1<br>
setx GPU_MAX_ALLOC_PERCENT 100<br>
setx GPU_SINGLE_ALLOC_PERCENT 100<br>
</p>
<code>EthDcrMiner64.exe -epool stratum+tcp://%subdomain%:%lowdiff% -ewal YOURWALLETADDRESS -epsw x -ethi 8 -allpools 1 -esm 0 -allcoins 1 -eworker WORKER</code>
<br><br>
  <p class="lead">Mining with Eminer</p>
  <p><a href="https://github.com/ethash/eminer-release">Download Eminer</a>
<br><br>
Usage:
<br><br>
setx GPU_FORCE_64BIT_PTR 0<br>
setx GPU_MAX_HEAP_SIZE 100<br>
setx GPU_USE_SYNC_OBJECTS 1<br>
setx GPU_MAX_ALLOC_PERCENT 100<br>
setx GPU_SINGLE_ALLOC_PERCENT 100<br>
</p>
<code>eminer.exe -S %subdomain%:%lowdiff% -U YOURWALLETADDRESS -P x --cloud-key CLOUDKEY -intensity 48 -N WORKER</code>
<br><br>
  <p class="lead">Mining with Ethminer</p>
  <p><a href="https://github.com/ethereum-mining/ethminer">Download Ethminer</a>
<br><br>
Usage:
<br><br>
setx GPU_FORCE_64BIT_PTR 0<br>
setx GPU_MAX_HEAP_SIZE 100<br>
setx GPU_USE_SYNC_OBJECTS 1<br>
setx GPU_MAX_ALLOC_PERCENT 100<br>
setx GPU_SINGLE_ALLOC_PERCENT 100<br>
</p>
<code>ethminer.exe --farm-recheck 200 -G -S %subdomain%:%lowdiff% -SP 1 -O YOURWALLETADDRESS.WORKER --opencl-platform 1</code>
<br><br>
  <h4>Terms of Service</h4>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do their best to prevent worst case.
  </p>
</div>

